:root {
  --menu-speed: 0.75s;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

/* Container */

.container {
  width: 75rem;
  max-width: 80%;
  margin-inline: auto;
}

/* Button */
.button {
  background-color: #a59678;
  padding-inline: 1em;
  border-radius: 100px;
}

/* Header */

.header {
  background-color: #3b4050;
}

/* Navbar */

.nav {
  background-color: #2e323f;
  height: auto;
}

.nav__container {
  display: flex;
  position: relative;
  padding-block: 1.5rem;
}

.nav__menu {
  position: fixed;
  font-size: 1.1rem;
  /* top: 1rem; */
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  padding-block-start: 3rem;
  visibility: hidden;
  overflow: hidden;
}

.nav__menu > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e323f;
  /* border: 1px solid red; */
  width: 100%;
  transform: height(60vh);
  transition: height 0.4s ease;
}

.nav__menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* Hamburger */

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  padding: 1rem;
  background-color: #2e323f;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */
.hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: inherit;
}

.hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns lines into x */
.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover / focus when checked */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(585deg);
}

/* Show menu */
.toggler:checked ~ .nav__menu {
  visibility: visible;
}

.toggler:checked ~ .nav__menu > div {
  transform: scale(1);
}

.toggler:checked ~ .nav__menu > div > div {
  opacity: 1;
}

/* Nav items */

.nav__logo {
  height: 1.875rem;
  margin-inline: auto;
}

.nav__links {
  /* display: none; */
  /* z-index: 3; */
  text-align: center;
  margin-inline: auto;
  margin-block: 1.5em;
}

.nav-item {
  margin-bottom: 1em;
}

.nav-item:nth-child(4) {
  margin-top: 3em;
}

/* Header content */

.header-content__heading {
  font-size: 4rem;
  color: #ffffff;
  margin-block: 4rem;
}

.header-content__heading--highlight {
  color: #a59678;
}

.header-content__text {
  padding-block-end: 6rem;
}

.header-paragraph {
  color: #ffffff;
  margin-block: 3.5rem;
  max-width: 85%;
}

.header-content__button {
  width: 100%;
}

/* Info Bar */
.info-bar {
  background-color: rgba(212, 212, 212, 0.932);
  padding-block: 4rem;
}

.info-bar__heading {
  color: #a59678;
  padding-block-end: 1em;
}

.info-bar__section + .info-bar__section {
  padding-block-start: 4.5rem;
}

/* Main article */
.main-article {
  padding-block: 5rem;
}

.main-article__heading {
  color: #a59678;
  margin-block-end: 1.5rem;
}

.main-article__text {
  margin-block-end: 3rem;
}

.main-article__image {
  width: 100%;
}

/* Sidebar */

.info-box {
  margin-block-end: 1rem;
  background-color: #2e323f;
  color: #ffffff;
  padding: 2em;
  text-align: center;
  width: 100%;
  max-width: 60%;
  margin-inline: auto;
}

.info-box__heading {
  margin-block-end: 1em;
}

.info-box__text {
  width: 90%;
  margin-inline: auto;
}

@media (min-width: 875px) {
  .header-content__heading {
    font-size: 5.625rem;
  }

  .hamburger {
    display: none;
  }

  .nav {
    background-color: #2e323f;
    width: 100%;
    margin-inline: auto;
    font-size: 1.125rem;
  }

  .nav__container {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    padding-block: 0;
    height: auto;
    max-width: 75rem;
    margin-inline: auto;
  }

  .nav__menu {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: visible;
    /* width: 100%; */
    /* max-width: 75rem; */
    padding-block: 0;
    /* margin: auto; */
  }

  .nav__menu > div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav__menu > div > div {
    opacity: 1;
  }

  .nav__links {
    display: flex;
    align-items: center;
    padding-block: 0;
    margin-inline-end: 0;
  }

  .nav-item {
    margin-left: 2.5em;
    margin-bottom: 0;
  }

  .nav-item:nth-child(4) {
    margin-top: 0;
  }

  /* Header content */
  .header-content__container {
    display: flex;
  }

  .header-content__heading {
    padding-inline-end: 2.5rem;
    width: 90%;
    margin-block: 10rem;
  }

  .header-content__text {
    margin-block: 10rem;
    margin-inline-start: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }

  .header-paragraph {
    margin-bottom: 1em;
  }
  .header-content__button {
    padding-bottom: 0.5rem;
  }

  .info-bar__container {
    display: flex;
    align-items: center;
  }

  .info-bar__section {
    text-align: center;
    padding-block: 2rem;
  }

  .info-bar__section + .info-bar__section {
    padding-block: 0;
    padding-inline-start: 1em;
  }

  .info-bar__text,
  .info-bar__heading {
    max-width: 85%;
  }

  /* Main article */
  .main-article__container {
    display: flex;
  }

  .main-article__article {
    padding-inline-end: 4rem;
  }

  /* Sidebar */
  .main-article__sidebar {
    display: flex;
    flex-direction: column;
    margin-inline: 4rem;
  }
}
