*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

/* Container */

.container {
  width: 75rem;
  max-width: 80%;
  margin-inline: auto;
}

/* Button */
.button {
  background-color: #a59678;
  padding-inline: 1em;
  border-radius: 100px;
}

/* Header */

.header {
  background-color: #3b4050;
}

/* Navbar */

.nav {
  background-color: #2e323f;
  font-size: 1.125rem;
}

.nav__container {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.nav__logo {
  height: 1.875rem;
}

.nav__links {
  text-align: center;
  margin-inline: auto;
  margin-block: 1.5em;
}
.nav-item {
  margin-bottom: 1em;
}

.nav-item:nth-child(4) {
  margin-top: 3em;
  /* border: 1px red solid; */
}

/* Header content */

.header-content__container {
}

.header-content__heading {
  font-size: 4rem;
  color: #ffffff;
  margin-block: 6rem;
}

.header-content__heading--highlight {
  color: #a59678;
}

.header-paragraph {
  color: #ffffff;
  margin-bottom: 3em;
  max-width: 85%;
}

.header-content__button {
  padding-bottom: 2em;
}

/* Info Bar */
.info-bar {
  background-color: rgba(230, 230, 230, 0.932);
}

@media (min-width: 700px) {
  .header-content__heading {
    font-size: 5.625rem;
  }

  .nav__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-block: 0;
  }

  .nav__logo {
    margin-block: auto;
  }

  .nav__links {
    display: flex;
    align-items: center;
    padding-block: 0;
    margin-right: 0;
  }

  .nav-item {
    margin-left: 2.5em;
    margin-bottom: 0;
  }

  .nav-item:nth-child(4) {
    margin-top: 0;
  }

  /* Header content */
  .header-content__container {
    display: flex;
  }

  .header-content__heading {
    padding-inline-end: 2.5rem;
    width: 90%;
  }

  .header-content__text {
    margin-block: 6rem;
    margin-inline-start: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }

  .header-paragraph {
    margin-bottom: 1em;
  }
  .header-content__button {
    padding-bottom: 0.5rem;
  }
}
